extends layout

block content
	section.piano-holder
		div.keys
			div.section-1.clearfix
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white
					div.key.black
				div.key.white
					div.key.black
				div.key.white
				div.key.white