.piano-holder {
	width: 98%;
	margin: 0 1%;
	background: #bebebe;
}

.keys {
	background-color: #FFF;
	width: 98%;
	margin: 0 auto;
	height: 100px;
}

.key {

}

.white {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	width: 1.923076923076923%;
	position: relative;
	border: 1px solid #EBEBEB;
	height: 100px;
	float: left;
}

.black {
	position: absolute;
	width: 50%;
	right: -25%;
	height: 65px;
	background-color: #000;
	z-index: 2;
}

.white.down {
	background-color: #4592FF;
}

.black.down {
	background-color: #2962B3;
}

.key-label {
	position: absolute;
	display: block;
	opacity: 0;	
}

.white .key-label {
	bottom: 2px;
	left: 25%;
	width: 50%;

}

.black .key-label {
	top: -20px;
}

.right-first .right-hand-first,
.left-first .left-hand-first, 
.right-second .right-hand-second, 
.left-second .left-hand-second {
	opacity: 1;
}

.piano-controls {
	height: 100px;
	padding: 5px 10px 20px;
}

.right-hand {
	float: right;
}

.left-hand {
	float: left;
}

.hand-control {
	background: #EFEFEF;
	border: 1px solid #BEBEBE;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	height: 25px;
	position: relative;
	width: 80px;
	margin: 5px auto 0;
}

.hand-control:after {
	background-color: #1B9EF5;
	border-radius: 4px;
	content: "";
	display: block;
	height: 21px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 40px;
}

.left-second .left-hand .hand-control:after,
.right-second .right-hand .hand-control:after {
	background-color: #33C457;
	left: 38px;
}

