doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/normalizr.css')   
    link(rel='stylesheet', href='/stylesheets/music-app.min.css')   
    script(src='/vendor/midi/javascript/AudioDetect.js')
    script(src='/vendor/midi/javascript/LoadPlugin.js')
    script(src='/vendor/midi/javascript/Player.js')
    script(src='/vendor/midi/javascript/Plugin.js')
    script(src='/vendor/midi/javascript/DOMLoader.XMLHttp.js')
    script(src='/vendor/midi/javascript/Base64.js')
    script(src='/vendor/midi/javascript/base64binary.js')
    script(src='/vendor/jquery/jquery-1.11.0.min.js')
    script(src='/javascripts/music-app.min.js')
  body
    block content
